.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .calcContainer {
    width: 400px;
    height: auto;
    background-color: rgb(87, 87, 87);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid black;
    .header {
      height: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      padding: 0 10px;
      & > div {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 10px;
        &:nth-child(1) {
          background-color: rgb(255, 79, 79);
        }
        &:nth-child(2) {
          background-color: yellow;
        }
        &:nth-child(3) {
          background-color: rgb(4, 167, 4);
        }
      }
    }
    .screen {
      height: 80px;
      width: 100%;
      color: #fff;
      font-size: 3em;
      text-align: right;
      padding: 20px;
    }
    .btns {
      width: 100%;
      button {
        color: #fff;
        font-size: 2em;
        width: 25%;
        height: 80px;
        cursor: pointer;
        transition: all 0.3s;
        background-color: rgb(153, 153, 153);
        border: 1px solid rgb(87, 87, 87);
        &:nth-child(17) {
          width: 50%;
        }
        &.orange {
          background-color: rgb(250, 145, 7);
        }
        &.dark {
          background-color: rgb(107, 107, 107);
        }
        &:hover {
          opacity: 0.9;
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
